<% var PandaBirthday = '2017-03-26' %>
<% var years = moment().diff(PandaBirthday, 'years') %>

<% var diffmonths = moment().diff(PandaBirthday, 'months') %>
<% var months = diffmonths - years * 12 %>

<% var to_months_date = moment(PandaBirthday).add(months, 'months').add(years, 'year') %>
<% var diffDays_to_months_date = to_months_date.diff(PandaBirthday, 'days') %>
<% var diffDays = moment().diff(PandaBirthday, 'days') %>

<% var days = diffDays - diffDays_to_months_date %>
<figure class="panda-banner">
    <div class="img-wrapper">
        <div class="img-wrapper-inner">
            <img src="http://images.dsphoebe.com/panda-20171228-2.jpeg" alt="">
        </div>
    </div>
    <figcaption>
        <h1>胖达</h1>
        <ul>
            <li>男</li>
            <% if (!years && !months && days == 0) {%>
            <li>Hello world</li>
            <% } else if (diffDays == 100) {%>
            <li>百天啦</li>
            <% }else if (!years && !months && days == 15) {%>
            <li>半个月</li>
            <% }else if (!years && !months && days) {%>
            <li><%= days%>天</li>
            <% }else if (!years && months == 1 && !days) {%>
            <li>满月啦</li>
            <% }else if (!years && months && !days) {%>
            <li><%= months%>个月</li>
            <% }else if (!years && months && days== 15) {%>
            <li><%= months%>个半月</li>
            <% }else if (!years && months && days) {%>
            <li><%= months%>个月<%= days%>天</li>
            <% }else if(years && !months && !days) {%>
            <li><%= years%>岁啦</li>
            <% }else if(years && months && days) {%>
            <li><%= years%>岁<%= months%>个月<%= days%>天</li>
            <% } %>
            <li>26斤</li>
            <li>82cm</li>
            <li><del>最爱吃纸箱</del>吃📦前先偷瞄一眼爸妈，没有反对就吭来一口... </li>
            <li><del>爱侧卧</del>爱睡大床</li>
        </ul>
    </figcaption>
</figure>
